<!--<h2>Log in</h2>-->

<%#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<!--  <div class="field">-->
<!--    <%#= f.label :email %><br />-->
<%#= f.email_field :email, autofocus: true, autocomplete: "email" %>
<!--  </div>-->

<!--  <div class="field">-->
<!--    <%#= f.label :password %><br />-->
<%#= f.password_field :password, autocomplete: "current-password" %>
<!--  </div>-->

<%# if devise_mapping.rememberable? %>
<!--    <div class="field">-->
<%#= f.check_box :remember_me %>
<%#= f.label :remember_me %>
<!--    </div>-->
<%# end %>

<!--  <div class="actions">-->
<%#= f.submit "Log in" %>
<!--  </div>-->
<%# end %>

<%#= render "devise/shared/links" %>



<style>
    body {
        background-color: #f2f7fb;
        background-image: url("https://images.pexels.com/photos/1714205/pexels-photo-1714205.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2")
    }

    .login-block {
        margin: 30px auto;
        min-height: 93.6vh
    }

    .login-block .auth-box {
        margin: 20px auto 0;
        max-width: 450px !important
    }

    .card {
        border-radius: 5px;
        -webkit-box-shadow: 0 0 5px 0 rgba(43, 43, 43, .1), 0 11px 6px -7px rgba(43, 43, 43, .1);
        box-shadow: 0 0 5px 0 rgba(43, 43, 43, .1), 0 11px 6px -7px rgba(43, 43, 43, .1);
        border: none;
        margin-bottom: 30px;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        background-color: #fff;
    }

    .card .card-block {
        padding: 1.25rem
    }

    .f-80 {
        font-size: 80px
    }

    .form-group {
        margin-bottom: 1.25em
    }

    .form-material .form-control {
        display: inline-block;
        height: 43px;
        width: 100%;
        border: none;
        border-radius: 0;
        font-size: 16px;
        font-weight: 400;
        padding: 9px;
        background-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-bottom: 1px solid #ccc
    }

    .btn-md {
        padding: 10px 16px;
        font-size: 15px;
        line-height: 23px
    }

    .btn-primary {
        background-color: #154F56;
        border-color: #154F56;
        color: #fff;
        cursor: pointer;
        -webkit-transition: all ease-in .3s;
        transition: all ease-in .3s
    }

    .btn {
        border-radius: 2px;
        text-transform: capitalize;
        font-size: 15px;
        padding: 10px 19px;
        cursor: pointer
    }

    .m-b-20 {
        margin-bottom: 20px
    }

    .btn-md {
        padding: 10px 16px;
        font-size: 15px;
        line-height: 23px
    }

    .heading {

        font-size: 21px;

    }

    #infoMessage p {

        color: red !important;
    }


    .btn-google {
        color: #545454;
        background-color: #ffffff;
        box-shadow: 0 1px 2px 1px #ddd;
    }


    .or-container {
        align-items: center;
        color: #ccc;
        display: flex;
        margin: 25px 0;
    }

    .line-separator {
        background-color: #ccc;
        flex-grow: 5;
        height: 1px;
    }

    .or-label {
        flex-grow: 1;
        margin: 0 15px;
        text-align: center;
    }
</style>

<section class="login-block">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "md-float-material form-material") do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="auth-box card">
            <div class="card-block">
              <div class="row">
                <div class="col-md-12">
                  <h3 class="text-center heading">Login to your account.</h3>

                </div>
              </div>

              <div class="form-group form-primary">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email", id: "email" %>
              </div>

              <div class="form-group form-primary">
                <%= f.password_field :password, autofocus: true, autocomplete: "password", class: "form-control", placeholder: "Password (minimum 8 characters)", id: "password" %>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <input type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" name="submit" value="Signin Now">
                </div>
              </div>

              <div class="or-container">
                <div class="line-separator"></div>
                <div class="or-label">or</div>
                <div class="line-separator"></div>
              </div>


        <% end %>
        <div class="row">
          <div class="col-md-12">
            <%= button_to image_tag("https://img.icons8.com/color/16/000000/google-logo.png").html_safe + " Signin Using Google", user_google_oauth2_omniauth_authorize_path, method: :post, data: { turbo: "false" }, class: "btn btn-lg btn-google btn-block text-uppercase btn-outline" %>
          </div>
        </div>

        </div>
        <p class="text-inverse text-center">Don't have an account?
          <a href="<%= new_registration_path(resource_name) %>" data-abc="true">SignUp</a></p>
        <br>
        </div>
      </div>
    </div>
  </div>
</section>