<!DOCTYPE html>
<html>
<head>
  <title>Codeguru</title>
  <meta charset="utf-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%#= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%#= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body>
<% if notice %>
  <p class="alert alert-success" style="margin-bottom: 0"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger" style="margin-bottom: 0"><%= alert %></p>
<% end %>
<%= render partial: "home/header" %>
<%= yield %>

</body>
</html>
